/* Vertical spacing */

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}


/* Body */

body {
  background: #252525;
}

.page-content-wrapper .container {
  width: 970px;
}

.wrapper {
  padding-left: 200px;
}


/* Navbar*/

.navbar {
  background: #252525;
}

.navbar-nav i {
  line-height: 40px;
  color: #d8d8d8;
}

.nav-pic-box {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.navbar-mid {
  padding-left: 110px;
}

.navbar-brand {
  font-family: Megrim;
  font-weight: bolder;
  font-size: 30px;
}

.navbar-brand img {
  height: 40px;
  color: #252525;
}

.navbar, body {
  font-family: Roboto;
}

.navbar-right .fa-pencil-square-o, .navbar-right .fa-sign-out {
  line-height: 48px;
}

.navbar-right a {
  padding-bottom: 0px !important;
}

.navbar-left {
  line-height: 44px;
  padding-right: 0px;
  margin-left: 20px;
}

.navbar-form .form-group {
  height: 20px;
}

.navbar-form input {
  height: 20px;
  display: inline-block;
  background: #d8d8d8;
  }

.navbar-form label {
  color: #d8d8d8;
  font-size: 11px;
  display: inline-block;
  margin-right: 10px;
}

.navbar-form ::-webkit-input-placeholder {
  color: #8b8b8b;
}


/* Profile page sidebar */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #252525;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

.profile-pic-box {
  width: 150px;
  height: 150px;
}

.pic-box {
  border-radius: 150px;
  object-fit: cover;
  overflow: hidden !important;
  position: relative;
  margin-left: 50px;
  margin-right: 0px;
}

.profilepic {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
}

.profile-info {
  border: none;
  color: #d8d8d8;
}

.follow-box {
  text-align: right;
  font-size: 25px;
  vertical-align: top;
}

.follow {
  color: #93c54b;
  background: none;
  font-size: 20px;
}

.follow:hover {
  color: #93c54b;
  background: none;
}

.friends-box i {
  font-size: 25px;
  color: #d8d8d8;
}

.friends {
  height: 50px;
  border-radius: 50px;
}

.friend-count td {
  text-align: center;
}

.friend-count h3 {
  margin-top: 5px;
  font-weight: bolder;
}

/* Profile page content */
.page-content-wrapper {
  width: 100%;
}

.new-status-col {
  text-align: center;
}

.new-status {
  color: #93c54b;
  display: inline-block;
  text-align: center;
  background: none;
}

.new-status:hover {
  background: none;
  color: #93c54b;
  text-shadow: 4px 4px 4px #0c0c0c;
}

.fa-commenting {
  font-size: 50px;
}

.fa-star {
  font-size: 15px;
}

.fa-plus {
  font-size: 10px;
  vertical-align: bottom;
}

.content {
  background-color: #323232;
  /*border-bottom: solid 1.5px #DCDDD7;
  border-right: solid 1.5px #DCDDD7;
  border-radius: 5px;*/
}

.profile-status-controls {
  text-align: right;
  vertical-align: top;
}

.profile-status-controls .btn {
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

.profile-status-controls .trash {
  margin-right: 10px;
}

.profile-status-controls h6 {
  font-size: 11px;
  text-align: right;
  color: #98978b;
}

.status h3 {
  margin-bottom: 0px;
  color: white;
}

.status .profile {
  margin-bottom: 0px;
  margin-top: 20px;
  color: white;
}

.comment {
  color: white;
}


/* Add status/comment sidebar */
.keyboard {
  padding: 0px;
}


/* Status feed */
.container {
  overflow: hidden;
}

.form-group label {
  margin-bottom: 10px;
}

hr {
  border-color: #3f3f3f;
  margin: 0px;
}

.content .form-control {
  border: none;
  width: 100%;
}

.status-pic-box {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.status .feed {
  font-size: 15px;
  font-weight: bold;
}

.status-feed {
  overflow-x: hidden;
  border-radius: 5px;
  background: #323232;
  /*box-shadow: 2px 2px 4px 0px #060606;*/
  border-collapse: separate;
}

.status-user {
  vertical-align: top;
  padding-top: 15px;
}

.status .yes-statuses {
  font-size: 45px;
}

.status h4 {
  margin-bottom: 0px;
  font-size: 30px;
  color: white;
}

.status .no-statuses {
  margin-bottom: 20px;
}

.status-controls {
  text-align: right;
  vertical-align: top;
}

.status-controls .btn {
  padding: 0px;
  margin-top: 10px;
  color: #93c54b;
  font-size: 15px;
  background: none;
}

.status-controls .fa-commenting {
  font-size: 40px;
}

.status-controls .fa-star {
  font-size: 12px;
}

.time {
  padding-right: 10px;

}

.time h6 {
  font-size: 11px;
  text-align: right;
  color: #98978b;
  margin-top: 0px;
}

.react-btn {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  background: none;
}

.react-btn:hover {
  background: none;
}

.react-btn h5 {
  margin-top: 0px;
  color: #93c54b;
}

.comment {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.commenter-pic {
  width: 50px;
  height: 50px;
}

.commenter-pic-box {
  border-radius: 150px;
  object-fit: cover;
  overflow: hidden !important;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}


/* Search */
.search {
  padding-left: 50px;
}

.search label {
  /*text-indent: 50px;*/
  display: inline-block;
  width: 3%;
}

.search input {
  display: inline-block;
  width: 85%;
}

.users-search .user-pic {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.users-search h3 {
  margin-bottom: 0px !important;
}

.friend-request-box {
  padding-top: 17px;
  font-size: 25px;
  width: 5%;
}

.follower-box {
  vertical-align: text-top;
  text-align: left;
  width: 13%;
  color: #d8d8d8;
}

.following-box {
  vertical-align: text-top;
  color: #d8d8d8;
}

.follow-heading {
  color: #d8d8d8;
}


/* Add/edit comment */
.time-add-comment {
  padding-left: 10px;
}

.status-scroll{
  overflow-y: scroll;
  height: 350px;
}

.comment-form input {
  background: #252525;
  border: none;
  width: 100% !important;
  font-size: 30px;
}

.comment-form ::-webkit-input-placeholder {
  color: #525252;
}

.btn-comment-post {
  padding: 5px;
  margin-top: 15px;
  font-size: 15px;
}

.btn-comment-edit {
  padding: 5px;
  font-size: 14px;
  margin-top: 15px;
}

.status-heading h3 {
  color: #d8d8d8;
}



/* Devise forms */
.edit-profile .control-label {
  color: #d8d8d8;
}

.edit-profile h2 {
  color: #d8d8d8;
}

.edit-profile .form-control {
  background: #3f3f3f;
  border: none;
  color: white;
}

.edit-profile .btn-danger {
  background-color: #3f3f3f;
}

.edit-profile .edit-text, .edit-profile h3 {
  color: #d8d8d8;
}

.edit-profile i, .edit-profile em {
  color: #525252;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
