/* Vertical spacing */

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}


/* Body */

body {
  background: #f8f5f0;
}

.page-content-wrapper .container {
  width: 970px;
}

.wrapper {
  padding-left: 200px;
}


/* Navbar */

.navbar-nav i, span {
  line-height: 40px;
}

.nav-pic-box {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px !important;
  margin-left: 0px !important;
}

.navbar-mid {
  padding-left: 110px;
}

.navbar-brand {
  font-family: Megrim;
  font-weight: bolder;
  font-size: 30px;
}

.navbar-brand img {
  height: 40px;
}

.navbar, body {
  font-family: Roboto;
}


/* Sidebar */
.sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #f8f5f0;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}

.profile-pic-box {
  width: 150px;
  height: 150px;
}

.pic-box {
  border-radius: 150px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-left: 50px;
  margin-right: 0px;
}

.profilepic {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
}

.friends {
  height: 50px;
  border-radius: 50px;
}


/* Page content */
.page-content-wrapper {
  width: 100%;
}

.content {
  background-color: white;
  border-bottom: solid 1.5px #DCDDD7;
  border-right: solid 1.5px #DCDDD7;
  border-radius: 5px;
}


/* Status feed */
.container {
  overflow: hidden;
}

.form-group label {
  margin-bottom: 10px;
}

hr {
  border-color: #98978b;
  margin: 0px;
}

.content .form-control {
  border: none;
  width: 100%;
}

/*.status-user img {
  height: 60px;
  border-radius: 50px;
}*/

.status-pic-box {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.status h4 {
  font-size: 15px;
  font-weight: bold;
}

.status h6 {
  font-size: 11px;
  text-align: right;
  color: #98978b;
}

.status-table {
  display: table;
}

.status-user, .status, .status-controls {
  background: white;
  display: table-cell;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
